body {
    background-color: lightgray;
}

p, a, h1, h2, h3, li {
    font-family: Arial, Helvetica, sans-serif
}

table, tbody, tr, td {
    padding: -4px;
    margin: -4px;
}

.footer {
    padding-top: 250px;
    padding-left: 32px;
}

.logo {
    padding: 16px;
    width: 128px;
    border-radius: 15%;
}

.pageTitle {
    padding-left: 32px;
}

.pageContent {
    padding-left: 32px;
    padding-right: 32px;
}

.link_button {
    color: #000000;
    background-color: darkgray;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.link_button:hover {
    background-color: gray;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.grid > * {
    width: 450px;
}

#meteor_img {
    width: 480px;
}

#random_announcements_img {
    width: 480px;
}

#poweritems_img {
    width: 480px;
}

#forcerules_img {
    width: 480px;
}

#fracturedspawners_img {
    width: 480px;
}

#deathmsgedit_img {
    width: 480px;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 32px;
}

#header > * {
    margin: 2px;
}

#links {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 16px;
}
