body {
    background-color: lightgray;
}

.footer {
    padding-top: 250px;
    padding-left: 32px;
}

.logo {
    padding: 16px;
    width: 128px;
    border-radius: 15%;
}

.pageTitle {
    padding-left: 32px;
}

.pageContent {
    padding-left: 32px;
    padding-right: 32px;
}

p, a, h1, h2, li {
    font-family: Arial, Helvetica, sans-serif
}